#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(179, 185, 206);
    overflow:hidden;
}

.background-image {
    height: max(136vh, 67vw);
    /* height: 1599px; */
    /* width: 1440px; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -27%);
    /* border: red solid 2px; */
}