#menu {
    --menu-width: min(45vw, 30rem);
    --menu-height: max(30rem);
    --true-width: min(var(--menu-width), calc(var(--menu-height) * 1823 / 2021));

    position: absolute;
    /* top: -10%; */
    left: 0;
    top: 0;
    z-index: 2;
    width: var(--true-width);
    height: var(--menu-height);
    /* background-size: 500px 500px;
    background-image: url("/Menu/Background.png"); */
    text-align: center;

    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu-background {
    transform: translate(0, -10%) scale(1.12);
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 912/1011;
    /* transform: translatex(7%); */
    z-index:-1;
}

#menu.active {
    display: block;
}

.search-form {
    /* position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: auto;
    margin-top: calc(var(--menu-height) * 0.11);
    width: 70%;
}

.menu-buttons {
    /* position: absolute; */
    /* top: 58%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-top: calc(var(--menu-height) * 0.1);
    width: 100%;
    line-height: 0;
}

.menu-button {
    /* position: relative; */
    margin: calc(var(--menu-height) * 0.05) auto;
    display: block;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    padding: 0;
}

.menu-button img {
    /* position: absolute; */
    width: 30px;
    aspect-ratio: 1/1;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle; 
}

.menu-button:nth-child(1) img {
    transform: rotate(18deg);
}

.menu-button:nth-child(2) img {
    transform: rotate(-22deg);
}

.menu-button:nth-child(3) img {
    transform: rotate(2deg);
}


#search-bar {
    width: 100%;
    height: 50px;
    font-size: 30px;
    /* padding-left: 10px; */
    border-radius: 10px;
    border: none;
    outline: solid 6px rgb(138, 138, 138);
    text-align: center;
}