
.recipe-board-area {

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    background: none;
    pointer-events: none;
    
    
    /* top: 100vh; */
    display: block;
    opacity: 0;
    transition: opacity 0s ease-out 0.25s;
    /* transition: top 0.25s ease-in; */
}

.recipe-board-area.active {
    display: block;
    pointer-events: all;
    opacity: 1;
    transition: opacity 0s ease-out 0s;
    /* top: 0;
    transition: top 0.25s ease-out; */
}


.recipe-board {
    /* --board-width: min(56vh, 95vw); */
    --board-width: max(min(56vh, 95vw), 45vw);
    --line-size: min(2rem, var(--board-width) * 0.06);
    --ingredients-size: min(var(--line-size) * 17, calc(var(--board-width) * 0.9));
    --instructions-size: min(var(--line-size) * 21, calc(var(--board-width) * 0.9));

    /* background-color: rgb(255, 255, 255); */
    /* background-image: url("/RecipeBoard/WoodTexture.png"); */
    background-repeat: repeat;
    background-size: 50% auto;
    width: var(--board-width);
    height: fit-content;
    margin: auto;
    border-radius: 2.5vh;
    box-shadow: inset 0px 0px 0px 1vh rgba(200, 144, 101, 160),
    0px 0px 0px 0.3vh #D2A072;
    padding: 1px;
    /* pointer-events: auto; */
    margin-bottom: 200px;
    
    
    margin-top: 101vh;
    transition: margin-top 0.25s ease-in;

}

.recipe-board-area.active .recipe-board {
    margin-top: 5vh;
    transition: margin-top 0.25s ease-out;

}

.recipe-board-gradient {
    position: fixed;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 11%,
        rgba(0, 0, 0, 0.6) 31%,
        rgba(0, 0, 0, 0.6) 69%,
        rgba(0, 0, 0, 0) 89%,
        rgba(0, 0, 0, 0) 100%
    );
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: -2;
    pointer-events: none;

    opacity: 0;
    transition: opacity 0.25s ease-out;
}

.recipe-board-area.active .recipe-board-gradient {
    opacity: 1;
    transition: opacity 0.25s ease-out;

}

.recipe-picture {
    position: relative;
    display: block;
    width: calc(var(--ingredients-size) * 0.5);
    aspect-ratio: 1/1;
    /* background-color: rgb(255, 0, 0); */
    /* border-radius: 8%; */
    /* border: solid 0.5vh #ffffff; */
    margin: auto;
    margin-top: 4vh;
    line-height: 0;
    border-radius: 8%;
    box-shadow: 0 0 calc(var(--board-width) * 0.02) rgba(255, 255, 255, 0.71);
}

.recipe-picture img {
    width: 100%;
    height: 100%;
    border: solid calc(var(--board-width) * 0.006) #ffffff;
    border-radius: 8%;
    box-sizing: border-box
}

.board-saved-button {
    position: absolute;
    top: -11%;
    right: -9%;    
    
    width: 20%;
    height: 20%;
    background: none;
    cursor: pointer;
    border: none;
}

.board-saved-button img{
    width: 100%;
    height: 100%;
    border: none;
}

.board-saved-button:hover img{
    width: 95%;
    height: 95%;
    margin-top: 5%;
    margin-right: 4%;
}

.board-saved-button:active img{
    width: 110%;
    height: 110%;
    margin-right: -27%;
    margin-top: -27%;
}

.board-save-button {
    position: absolute;
    top: 2%;
    right: 0;
    width: 20%;
    height: 20%;
    opacity: 0.5;
    /* display: none; */

    background: none;
    cursor: pointer;
    border: none;

}

.board-save-button img{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 5%;
    border: none;
}

.board-save-button:hover img{
    width: 100%;
    height: 100%;
    margin-top: 0%;
}

.board-save-button:active img{
    width: 85%;
    height: 85%;
    margin-top: 15%;
}


.recipe-board h2 {
    font-size: calc(var(--line-size));
    font-weight: bold;
}


/* INGREDIENTS */

.ingredients-header-area {
    position: relative;
    height: fit-content;
    width: var(--ingredients-size);
    margin: 0;
    margin: auto;
    padding: 0;
    line-height: 0;
    margin-top: 10vh;
}

.ingredients-header-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: calc(var(--line-size) * 1.6); */
    height: 120%;
    margin: 0;
    margin: auto;
    z-index: 2;
}

.ingredients-header {
    position: relative;
    width: 90%;
    /* bottom: 0;
    left: 5%; */
    margin: auto;
    padding: 0;
    z-index: 3;
    text-align: center;
    height: fit-content;
    padding-top: calc(var(--line-size) * 0.2);
    padding-bottom: calc(var(--line-size) * 0.1);
    
    /* white-space: normal; */
    line-height: calc(var(--line-size) * 1);
}

.ingredients-area{
    position: relative;
    height: fit-content;
    width: var(--ingredients-size);
    margin: 0;
    margin: auto;
    line-height: 0;
}

.ingredients-background {
    position: absolute;
    top:0;
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
    z-index: 2;
    line-height: 0;
}

.ingredients-background img {
    display: block;
    height: calc(var(--line-size) * 4);
    width: 100%;
    object-fit: fill;
    margin: 0;
    padding: 0;
}

img.ingredients-footer-background {
    width: 100%;
    height: calc(var(--line-size) * 1.12);
    object-fit: fill;
    margin: 0;
    padding: 0;
}

.ingredients-text {
    position: relative;

    width: 100%;
    margin: auto;
    /* transform: translateY(5px); */
    /* font-family: sans-serif; */
    z-index: 3;
    line-height: var(--line-size);
    margin-bottom: 250px;
    text-align: center;
}

.ingredients-list {
    width: 90%;
    margin:auto;
    padding: 0px;
    padding-top: var(--line-size);
    padding-bottom: 30px;
    list-style: none;
    text-align: center;
    font-size: calc(var(--line-size) * 0.6);

    font-weight:bold;
    text-transform: capitalize;
}



.ingredients-list li {
    position: relative;
    width: 70%;
    margin: auto;
    /* font-family: sans-serif; */
    /* display: flex; */
    /* clear:both; */
    display: flex;
    background-color: white;;
}

.ingredients-list li::after {
    content : "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(calc(var(--line-size) * -0.05));
    /* transform: translatey(-1px); */
    top: 0;
    height: 100%;
    width: 101%;
    border-top: rgb(218, 218, 218) solid calc(var(--line-size) * 0.1);

}

.ingredient {
    /* margin-left: auto; */
    /* display: inline; */
    /* font-family: sans-serif; */
    /* position: absolute; */
    /* right: 50%; */
    width: 50%;
    float: left;
    text-align: right;

    /* text-wrap: newline; */
    /* z-index: 5; */
    /* line-height: 1.7rem; */
    border-right: lightgrey solid calc(var(--line-size) * 0.05);
    /* border-style: inset; */
    margin: 0;
    padding-right: 2%;
    /* box-sizing: border-box; */


}

.measure {
    /* margin-right: auto; */

    width: 50%;
    float: right;
    text-align: left;
    /* display: inline; */
    /* font-family: sans-serif; */
    /* position: absolute;
    left: 50%; */
    overflow: hidden;
    /* z-index: 5; */
    /* line-height: 1.7rem; */
    border-left: lightgrey solid calc(var(--line-size) * 0.05);
    /* box-sizing: border-box; */


    padding-left: 2%;
}


.ingredient-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(var(--line-size) * 1.5);
    aspect-ratio: 1/1;

    /* display: block; */
}

.ingredients-list li:nth-child(even) .ingredient-image {
    left: 100%;
    /* float: left; */
}

.ingredients-list li:nth-child(odd) .ingredient-image {
    right: 100%;
    /* float: left; */
}

.ingredients-list li:nth-child(4n + 0) .ingredient-image { transform:translateY(-50%) rotate(8deg) }
.ingredients-list li:nth-child(4n + 1) .ingredient-image { transform:translateY(-50%) rotate(6deg) }
.ingredients-list li:nth-child(4n + 2) .ingredient-image { transform:translateY(-50%) rotate(-7deg) }
.ingredients-list li:nth-child(4n + 3) .ingredient-image { transform:translateY(-50%) rotate(-8deg) }




/* INSTRUCTIONS */

.instructions-header-area {
    position: relative;
    height: fit-content;
    width: var(--instructions-size);
    margin: 0;
    margin: auto;
    padding: 0;
    line-height: 0;
}

.instructions-header-background {

    width: 100%;
    height: calc(var(--line-size) * 1.6);
    margin: 0;
    margin: auto;
    z-index: 2;
}

.instructions-header {
    position: absolute;
    bottom: 25%;
    left: 6%;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.instructions-area{
    position: relative;
    height: fit-content;
    width: var(--instructions-size);
    margin: 0;
    margin: auto;
}

.instructions-background {
    position: absolute;
    top:0;
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
    z-index: 2;
    line-height: 0;
}

.instructions-background img {
    display: block;
    height: calc(var(--line-size) * 4);
    width: 100%;
    object-fit: fill;
    margin: 0;
    padding: 0;
}

img.instructions-footer-background {
    width: 100%;
    height: calc(var(--line-size) * 1.12);
    object-fit: fill;
    margin: 0;
    padding: 0;
}

.instructions-text {
    position: relative;

    width: 80%;
    margin: auto;
    font-size: calc(var(--line-size) * 0.6);
    transform: translateY(5px);
    /* font-family: sans-serif; */
    z-index: 3;
    line-height: var(--line-size);
    margin-bottom: 250px;
}

/* .instructions-footer-background {
    width: 710px;
    height: 96px;
    background-image: url("/RecipeBoard/Bottom.svg");
    background-size: 100% 160px;
    margin: auto;
    margin-top: 0;
} */


/* .ingredients-header-background {
    width: 100%;
    aspect-ratio: 1645 / 223;
    /* height: 94px; 
    background-image: url("/RecipeBoard/Top.svg");
    background-size: 100% 120px;
    margin: auto;
    margin-bottom: 0;
}

.ingredients-header {
    text-align: center;
    transform: translate(0, 50px);
}

.ingredients-background {
    width: 100%;
    /* background-color: purple; 
    margin: auto;
    /* height: round(up, fit-content, 160px); 
    height: fit-content;
    background-image: url("/RecipeBoard/MiddleTile.svg");
    background-repeat: repeat-y;
    background-size: 100% 120px;
    /* font-size: 28px; 
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 50px;
} */

