.recipe-card {
    --card-width: min(max(22vh, 7.8rem), 50vw);
    position: relative;


    display: inline-block;
    width: var(--card-width);
    min-height: calc(var(--card-width) * 1.37);
    height: fit-content;
    background-color: white;
    border-radius: calc(var(--card-width) * 0.14);
    margin: calc(var(--card-width) * 0.05);
    vertical-align: top;
    cursor: pointer;

    font-size: min(calc(var(--card-width) * 0.13), 1rem);

    transition: transform 0.5s ease-in-out;
}

.recipe-card:nth-child(even):hover {
    transform: rotate(1.5deg);
    transition: transform 0.1s ease-out;
}

.recipe-card:nth-child(odd):hover {
    transform: rotate(-1.5deg);
    transition: transform 0.1s ease-out;
}

.recipe-card:nth-child(3n - 2):hover {
    transform: rotate(-1.5deg)!important;
    transition: transform 0.1s ease-out;
}

.recipe-card:nth-child(5n - 1):hover {
    transform: rotate(1.5deg)!important;
    transition: transform 0.1s ease-out;
}

div.recipe-card:nth-child(n):active {
    transform: scale(0.9)!important;
    transition: transform 0s ease-out;
}

.recipe-card-image {
    width: calc(var(--card-width) * 0.92);
    border-radius: calc(var(--card-width) * 0.1);
    border: white solid calc(var(--card-width) * 0.04);
}

.recipe-card-save-button {
    position: absolute;
    top: calc(var(--card-width) * 0.05);
    right: calc(var(--card-width) * 0.05);
    width: 15%;
    height: 15%;
    opacity: 0.5;
    display: none;
}

.recipe-card-saved-button {
    position: absolute;
    top: calc(var(--card-width) * -0.11);
    right: calc(var(--card-width) * -0.06);    
    
    width: 20%;
    height: 20%;
    background: none;
    cursor: pointer;
    border: none;
    /* opacity: 0.5; */
}

.recipe-card-saved-button img{
    width: 100%;
    height: 100%;
}

.recipe-card-name {
    margin: 0;
    padding-left: calc(var(--card-width) * 0.05);
    padding-right: calc(var(--card-width) * 0.05);

    /*Temporary trimming long names*/
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
    color: #474747;
}